@const BORDER_COLOR:#CCC;
@const BORDER:1px solid #E5E6E6;
@const BORDER_CTRL:1px solid #aaa;
@const CTRL_BACK_NORMAL:#FAFAFA #FAFAFA #E5E5E5 #E5E5E5;
@const CTRL_BACK_HOVER:#fefefe #fefefe #EBEBEB #EBEBEB;
@const CTRL_BACK_ACTIVE:#E1E1E1 #E1E1E1 #DEDEDE #DEDEDE;
@const CTRL_BACK_WIN7ACTIVE:#DCEBFC #DCEBFC #C1DCFC #C1DCFC;
@const SOLID_BACK_GRAY:#E9EEDA;
@const SOLID_BACK_CURRENT:#93BEF6;
@const CTRL_BACK_DISABLE: gray;
@const SOLID_BACK_LIGHT:#fefefe;
@const FONT_COLOR_NORMAL:#444;
@const FONT_COLOR_HOVER:#333;
@const FONT_COLOR_ACTIVE:#111;
@const FONT_NORMAL:normal 10pt "微软雅黑";
@const FONT_NUMBER:normal 9pt "comic sans MS";
@const FONT_NUMBER_SMALL:normal 8pt "comic sans MS";
@const FONT_BOLD_TEXT2:bold 10pt "微软雅黑";
@const FONT_BOLD_TEXT1:bold 11pt "微软雅黑";
@const FONT_NORMAL_DES:normal 9pt "宋体";
@const FONT_DEFAULT:normal 9pt;
@const OUTLINE_STYLE_NORMAL:glow gray 2px 2px;
@const OUTLINE_STYLE_ACTIVE:glow gray 4px 4px;
@const CTRL_HEIGHT:24px;
@const BACK_CHECKED_COLOR:#E5E0E0;

hr.vert{
	height:*;
	width:0; 
	margin:-1 2px; 
	border-left:1px solid #DEDEDE; 
}
.msgbar{
	border:none;
	border-bottom:@BORDER;
}
.close-btn{
	width:16px;
	height:16px;
	behavior:clickable;
	font:8pt normal marlett;
	text-align:center;
	vertical-align:middle;
	color:#CBCBCB;
}
.close-btn:hover{
	color:#888;
}
.close-btn:active{
	color:#555;
}
.time-text{
	font:@FONT_NUMBER_SMALL;
	color:#aaa;
}

button[type="menu"].tools{
	foreground-image:url(qrel:images/tool_16.png);
}

.number-text{
	text-align:center;
	min-width:20px;
	max-height:18px;
	white-space:nowrap;
	vertical-align:middle;
	font:@FONT_NUMBER_SMALL;
	background-color:#D7D9D9;
	border:1px solid #D1D1D1;
	color:#818386;
	border-radius:2px;
	padding:2px;
}

.des-text{
	font:@FONT_NORMAL_DES;
	color:#aaa;
}

/*************************************/
/*plan wrapper*/
#id-plan-wrapper{
	width:*;height:38px;
	overflow:hidden;
	flow:horizontal;
}
#plan-menu{
//	visibility:collapse;
}
#id-plan-wrapper:hover #plan-menu{
	visibility:visible;
}

#list-plan{
	width:*;height:*;
	vertical-align:middle;
	behavior:dropdown;
	padding:0;
}
#list-plan:hover+#plan-menu{
	visibility:visible;
}
#list-plan>caption{
	width:*;height:*;
	color:#29B0CD;
	background-color:white;
	font:@FONT_BOLD_TEXT1;	
	vertical-align:middle;
	padding-left:20px;
	foreground:url(qrel:images/plan-fore.png) no-repeat;
	foreground-position:0 0;
}

#list-plan>popup{
	max-width:330px;
	width:330px;
	overflow:hidden;
	max-height:350px;
	outline:none;
	padding:0;
	border:none;
	height:calc(self.max-intrinsic-height());
}

#id-plan-box{
	width:*;height:*;
	overflow-x:hidden;
	overflow-y:auto;
	height:calc(self.min-intrinsic-height());
}

/*计划名*/
table[name="plan-item"]{
	height:65px;width:*;
	overflow:hidden;
	padding:2 4px;
	background-color:white;
	border-bottom:@BORDER;
	behavior:switch;
//	click!:self.$1p(popup)::visibility = "hidden";
}
table[name="plan-item"]:checked{
	background-color:@BACK_CHECKED_COLOR;
	background:url(qrel:images/red_dot.png) repeat-y;
	backgrouns-position:0 0;
}
table[name="plan-item"] td{
	white-space:nowrap;
	vertical-align:middle;
	padding:2 2 2 6px;
	text-overflow:ellipsis;
}
table[name="plan-item"] td.icon{
	foreground-repeat:no-repeat;
	foreground-position:center;
	width:40px;height:*;
	padding-left:0;
}
table[name="plan-item"] td.plan-title{
	color:#333;
	font:@FONT_BOLD_TEXT2;
}
table[name="plan-item"] td.plan-des{
	color:#aaa;
	font:normal 9pt "宋体";
	padding-left:30px;
}
table[name="plan-item"] td.plan-time{
	text-align:right;
	color:#AFB7BB;
	font:@FONT_NUMBER_SMALL;
	padding-right:40px;
}

/***********************************/
/*plan stage*/
#id-stage-box-wrapper{
	height:102px;width:*;
	overflow:hidden;
	border:1px solid #E5E6E6;
	border-left:none;
	border-right:none;
	flow:vertical;
	position:relative;
//	background-color:#99CC33;
}
#id-stage-menu{
	height:20px;
	right:10px;bottom:10px;
	foreground-image:url(qrel:images/tool_16.png);
}

#id-stage-box{
	width:*;height:*;
	border-spacing:4px;
	overflow-x:hidden-scroll;
	overflow-y:hidden;
	flow:horizontal;
//	behavior:xscroller;
}

#id_stage_nav{
	padding:1 10px;
	height:max-intrinsic;
}

table[name="stage-item"]{
	padding:0px;
	background-color:#DCEBFC;
//	border-radius:5px;
	width:326px;height:*;
	overflow:hidden;
	behavior:switch;
	border-spacing:0;
	transition:slide;
}
table[name="stage-item"]:hover{
	background-color:#C1DCFC;
}
table[name="stage-item"]:checked{
	background-color:#F4F1EA;
}
table[name="stage-item"] td{
	vertical-align:middle;
	padding:2 4px;
	min-height:20px;
	white-space:nowrap;
	text-overflow:ellipsis;
	text-align:center;
	overflow-x:hidden;
}
table[name="stage-item"] td.prgs-time{
	foreground:url(qre:images/time_16.png) no-repeat;
	foreground-position:2px center;
	padding-left:20px;
}
table[name="stage-item"] td.prgs-prgs{
	foreground:url(qre:images/flag_16.png) no-repeat;
	foreground-position:2px center;
	padding-left:20px;
}
table[name="stage-item"] td#stage-title{
	width:*;height:*;
	text-align:left;
	color:#555;
	font:@FONT_BOLD_TEXT2;
}
table[name="stage-item"] td.stage-des{
	width:*;
	text-align:left;
	color:#aaa;
	font:@FONT_NORMAL_DES;
	padding-left:12px;
}
table[name="stage-item"] td#stage-goalnum{
	width:25px;height:*;
	font-size:14pt;
}
table[name="stage-item"] td.stage-period{
	text-align:right;
	padding-right:20px;
}
table[name="stage-item"] td.icon{
	width:80px;height:*;
	overflow:hidden;
}

table[name="stage-item"] td.icon>picture{
	width:*;height:*;
	margin:4px;
}

[name="stage-menu"]{
	foreground-image:url(qrel:images/tool_16.png);
}
li[name="mi-stage-newstage"]{
	foreground-image:url(qrel:images/add_24.png);
}
li[name="mi-stage-edit"]{
	foreground-image:url(qrel:images/edit_24.png);
}
li[name="mi-stage-delete"]{
	foreground-image:url(qrel:images/trash_24.png);
}
/*************************************/
#id-stage-period{
	width:120px;
	text-align:center;
}
/*********************************/
/*阶段目标*/
/*
#tbl-curgoal{
	height:50px;width:*;
	padding:0;
	border-spacing:0;
	overflow:hidden;
	border-bottom:@BORDER;
	background-color:#fff;
	foreground:url(qrel:images/plan-fore.png) repeat-y;
	foreground-position:0 0;
	behavior:clickable;
}
#tbl-curgoal:hover{
	background-color:#F0F0F0;
}
#tbl-curgoal td{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#tbl-curgoal td#id-goalitem-checked{

}
#tbl-curgoal td#id-goal{
	height:30px;width:*;
	font:bold 10pt "微软雅黑";
	line-height:30px;
	padding-left:20px;
}
#tbl-curgoal td#id-goal-des{
	height:20px;
	padding-left:25px;
}

#tbl-curgoal td#goal-menu{
	//visibility:collapse;
}
#tbl-curgoal:hover td#goal-menu{
	visibility:visible;
}
*/
/***********************************/
/* goal */
#id-goal-box{
	height:*;width:*;
	overflow-x:hidden;
	overflow-y:auto;
//	padding-top:2px;
	background-color:white;
	flow:vertical;
	vertical-scrollbar:vscrollbar;
	context-menu: selector(menu#goal-box-menu);
}

table[name="goal-item"]{
	width:*;height:35px;
	padding:0 0 0 6px;
	background-color:#FFF;
	border-bottom:@BORDER;
	border-spacing:0;
	behavior:switch;
	context-menu: selector(menu#goal-item-menu);
}
table[name="goal-item"]:hover{
	background-color:#C4E08B;
}
table[name="goal-item"]:checked{
	background:url(qrel:images/red_dot.png) repeat-y;
	background-position:0 0;
//	background-color:#9FABB7;
	background-color:#99CC33;
	color:white;
	border-bottom:none;
}
table[name="goal-item"] td{
	padding:2 6px;
	vertical-align:middle;
}
table[name="goal-item"] td.goal-title{
	color:#767B7E;
	font:@FONT_BOLD_TEXT2;
	white-space:nowrap;
	text-overflow:ellipsis;
	width:*;
}
table[name="goal-item"]:checked td.goal-title{
	color:white;
}
table[name="goal-item"] td.close-btn{
	visibility:collapse;
}
table[name="goal-item"]:hover td.close-btn{
	visibility:visible;
}
/***********************************/
/* goal item*/
#id-goalitem-box-wrapper{
	width:*; height:*;
	flow:vertical;
}

#id-goalitem-box{
	width:*; height:max-intrinsic; 
	flow:vertical; 
	background-color:white;
	overflow-x:hidden;
}

#id-goalitem-box:has-children-of-type(table){
	border:4px solid #99CC33;
	border-top:none;
//	foreground:url(qrel:images/red_dot.png) repeat-y;
}
table.goalitem{ 
	width:*;
	border-bottom:1px dotted #CACBCC;
	overflow:hidden; 
	color:gray;	
	font-weight:bold;
	opacity:0.9;
}
table.goalitem:nth-child(even){
	background-color:#F7F7F9;
}
table.goalitem:nth-child(odd){
	background-color:#F3F3F5;
}
table.goalitem:hover{ 
	background-color:@CTRL_BACK_WIN7ACTIVE; 
}
table.goalitem[done]{ 
	color:@FONT_COLOR_HOVER; 
	text-decoration:line-through;
	background-color:#E0E0E0;
}
table.goalitem td{ 
	height:22px; 
	line-height:22px; 
	padding:4px;	
}
table.goalitem td.item-exec{
	width:1px;
}
table.goalitem td.item-exec>[type="checkbox"]
{
	padding:0;
	min-width:22px;
	width:22px;height:*;
	background-position:5 5px;
}
table.goalitem td.item-creat{
	width:120px;
}
table.goalitem td.item-todo{ 
	width:*;padding-left:2px;
	white-space:nowrap;
	color:gray;
	text-overflow:ellipsis;
	overflow:hidden;
	behavior:clickable;
}
table.goalitem td[name="btn_todoitem_delete"]{
	visibility:collapse;
	width:16px;
	behavior:clickable;
	font-family:marlett;
	text-align:center;
	vertical-align:middle;
}
table.goalitem td[name="btn_note"]{
	foreground-image:url(qrel:images/note_16.png);
}
table.goalitem td[name="btn_clock"]{
	foreground-image:url(qrel:images/clock_16.png);
}
table.goalitem:hover td[name="btn_todoitem_delete"]{ 
	visibility:visible;
}

#id-faith{
	foreground:url(qrel:images/doit.png) no-repeat;
	foreground-position:2px center;
	color:#444;
	padding-left:26px;
	vertical-align:middle;
	white-space:nowrap;
	height:*;width:*;
}

/**********************************/
/*popup*/
popup#id_popup_goalitem{
	flow:horizontal;
	width:*;max-width:*;
	height:50px;
	border-spacing:2px;
}
.xpopup{
	background-color:transparent;
	background:url(qrel:images/popup-back.png) expand;
	background-position:30px 30px 30px 150px;
	/*debug*/
//	padding:33 20 2 25px;
	/*release*/
	padding:18 20 14 25px;
	vertical-align:middle;
	margin-top:-5px;
	border:none;
}

