button .imgbtn{
	background-repeat:no-repeat;
	background-position:center;
	width:32px;
	height:32px;
}

table[id="id_when"]{
	width:*;height:70px;
	border:@BORDER;
	background-color:#D4D4D4;
}
table[id="id_when"] td{
	padding:2 4px;
}
table[id="id_when"] td.clock{
	width:80px;height:70px;
	background-image:url(images/clock_64.png);
	background-repeat:no-repeat;
	background-position:center;
}
table[id="id_when"] td.btns{
	width:80px;height:24px;
	border-spacing:5px;
	flow:horizontal;
}
table[id="id_when"] td[id="td_time"]{
	font:@FONT_NUMBER;
	font-size:11pt;
	font-weight:bold;
	color:#ED6717;
}

table[id="id_what"]{
	height:120px;width:*;
	background-color:#fff;
	border:@BORDER;
	border-top:none;	
}
table[id="id_what"] td[id="td_message"]{
	height:70px;
	width:*;
	vertical-align:middle;
	color:@FONT_COLOR_NORMAL;
	overflow:hidden;
	text-overflow:ellipsis;
	padding-left:15px;
}
table[id="id_what"] button[id="btn_cancel"]{
	margin-left:*;
}
table[id="id_what"] tr:nth-child(2)>td{
	flow:horizontal;
	padding-left:10px;
}
