@font-face 
{
	font-family:mvboli;
	src: url(qabs:raw/mvboli.ttf); /* "mv boli" */
}

body{
	flow:vertical;
	min-height:300px;
}

/*即时任务*/
#todolist{
	width:*; height:*; 
	flow:vertical; 
	background-color:white;
	border-top:none;
	border-bottom:none;
	margin-bottom:-1px;
	vertical-scrollbar:vscrollbar;
	overflow-x:hidden;
	overflow-y:auto;
}

/*垃圾箱*/
#trashbox{
	visibility:collapse;
	accept-drop: selector(#todolist>table); /* accept drop of items only from carts */ 
	drop: recycle; /* delete element on drop */
	width:100px;height:128px;
	background:url(qabs:main/images/trashbox.png) no-repeat;
	background-position:center;
	opacity:0.5;
	position:fixed;
	right:0;
	bottom:45px;
}

/* dragging operation is in effect and this element is the active target */  
#trashbox:drop-target{
	visibility:visible;
}

/* dragging operation is in effect and this element is the active target and dragged element is over this one */  
#trashbox:drag-over{
	opacity:1.0;
}
#todolist>table{ 
	width:*;
	border-bottom:1px dotted #CACBCC;
	overflow:hidden; 
	color:gray;	
	font-weight:bold;
	draggable:only-move;
}
#todolist>table:moving{
	opacity:0.7;
}
#todolist>table:nth-child(even){
	background-color:#F7F7F9;
}
#todolist>table:nth-child(odd){
	background-color:#F3F3F5;
}
#todolist>table:hover{ 
	background-color:@CTRL_BACK_WIN7ACTIVE; 
}
#todolist>table[done]{ 
	color:@FONT_COLOR_HOVER; 
	text-decoration:line-through;
	background-color:#E0E0E0;
}
#todolist>table td{ 
	height:22px; 
	line-height:22px; 
	padding:4px;	
}
#todolist>table td.item-exec{
	width:1px;
}
#todolist>table td.item-exec>[type="checkbox"]
{
	padding:0;
	min-width:22px;
	width:22px;height:*;
	background-position:5 5px;
}
#todolist>table td[name="item_doit"]
{
	foreground-image:url(qrel:images/doit.png);
	visibility:collapse;
}
#todolist>table:not([done]):hover td[name="item_doit"]
{
	visibility:collapse;
}
#todolist>table td.item-creat{
	width:120px;
}
#todolist>table td.item-todo{ 
	width:*;padding-left:2px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	color:@FONT_COLOR_ACTIVE;
	behavior:clickable;
}
#todolist>table td[name="btn_todoitem_delete"],
#todolist>table td[name="btn_todoitem_stickynote"]{
	visibility:collapse;
	width:16px;
	behavior:clickable;
	font-family:marlett;
	text-align:center;
	vertical-align:middle;
	foreground-position:center;
	foreground-repeat:no-repeat;
}
#todolist>table:hover td[name="btn_todoitem_delete"],
#todolist>table:hover td[name="btn_todoitem_stickynote"]{ 
	visibility:visible;
}

#todolist>table td[name="btn_todoitem_stickynote"]{
	foreground-image:url(qrel:images/note_16.png);
}
/*立即完成的倒计时*/
#todolist>table#do_it{
	height:60px;
	width:*;
//	background-color:#033E4B;
	background-color:#9FABB7;
	border:none;
}
#todolist>table#do_it td.icon{
	foreground:url(qrel:images/time.png) no-repeat;
	foreground-position:center;
	width:50px;
}
#todolist>table#do_it td#btn_plus5m{
	foreground:url(qrel:images/plus.png) no-repeat;
	foreground-position:center;
	width:40px;
}
#todolist>table#do_it td#btn_minus5m{
	foreground:url(qrel:images/minus.png) no-repeat;
	foreground-position:center;
	width:40px;
}
#todolist>table#do_it td#td_countdown{
	height:*;
	text-align:center;
	vertical-align:middle;
	font:25pt bold "mv boli";
	color:white;
	behavior:clock-countdown;
}

popup#id_popup_todoitem{
	flow:horizontal;
	width:*;max-width:*;
	height:50px;
	border-spacing:2px;
}

.xpopup{
	background-color:transparent;
	background:url(qrel:images/popup-back.png) expand;
	background-position:30px 30px 30px 150px;
	/*debug*/
//	padding:33 20 2 25px;
	/*release*/
	padding:18 20 14 25px;
	vertical-align:middle;
	margin-top:-10px;
	border:none;
}
