/**************************/
/*小图标按钮,无边框*/
.btn{
	min-height:16px;
	height:*;width:16px;
	background-repeat:no-repeat;
	background-position:center;
	behavior:button;
}
.close_12{ background-image:url(images/close_12.png); }
.edit_16{ background-image:url(images/edit_16.png); }
.btn:hover{
	outline:@OUTLINE_STYLE_NORMAL;
}
.btn:active{
	outline:@OUTLINE_STYLE_ACTIVE;
}

.row{
	width:*;
	flow:horizontal;
	border-spacing:8px;
	vertical-align:middle;
	padding:* 4px;
}

/*************************************/
table[relate]{
	width:*;
}
table[relate]>tr{
	border-bottom:1px dotted gray;
}

table[relate]>tr>td{
	height:40px;
	vertical-align:middle;
}
table[relate]>tr>td>*{
	margin-top:*;
	margin-bottom:*;
}

/*************************************/
#div_dates{
	width:*;height:*;
	padding:0 12px;
}
#div_dates>*{
	margin-top:*;
	margin-bottom:*;
	visibility:collapse;
}

div.rio_td{
	width:*;height:*;
	padding:2 4 2 24px;
	vertical-align:middle;
	font:11pt bold "微软雅黑";
	background-color:#F79B76;
	color:black;
	behavior:switch;
}
div.rio_td:hover{
	background-color:#AFF7F7;
}
div.rio_td:checked{
	background-color:#7DDEDE;
	foreground:url(qabs:icons/check_16.png) no-repeat;
	foreground-position:3px center;
}

/*************************************/
table.chk_table{
	border-spacing:1px;
	padding:0;
}
table.chk_table td{
	width:30px;height:20px;
	border:1px solid #bbb;
	font:10pt normal "微软雅黑";
	padding:2 6px;
	text-align:center;
	vertical-align:middle;
	behavior:check;
	color:black;
}
table.chk_table td:checked{
	background-color:#7DDEDE;
	border-color:#58C4C4;
}

