body{
	min-width:430px;
	min-height:260px;
	//background:url(qabs:bk/bk2.jpg) stretch;
	background-color:#76EAFF;
}

p{
	margin:* 5px;
}

#wc-caption{
	background-color:white;
	color:#333;
}

.row{
	width:*;
	flow:horizontal;
	border-spacing:8px;
	vertical-align:middle;
	padding:* 4px;
}

