@const BORDER:1px solid #BCBCBC;
@const BORDER_CTRL:1px solid #ABABAB;
@const CTRL_BACK_NORMAL:#FAFAFA #FAFAFA #E5E5E5 #E5E5E5;
@const CTRL_BACK_HOVER:#fefefe #fefefe #EBEBEB #EBEBEB;
@const CTRL_BACK_ACTIVE:#E1E1E1 #E1E1E1 #DEDEDE #DEDEDE;
@const CTRL_BACK_WIN7ACTIVE:#DCEBFC #DCEBFC #C1DCFC #C1DCFC;
@const ITEM_CURRENT:#E6E6E6 #E6E6E6 #E2E2E2 #E2E2E2;
@const ITEM_HOVER:#E8E9EA #E8E9EA #DBDCDE #DBDCDE;
@const ITEM_NORMAL:#FBFBFB #FBFBFB #F1F1F1 #F1F1F1;
@const FONT_COLOR_NORMAL:#969696;
@const FONT_COLOR_HOVER:#555;
@const FONT_COLOR_ACTIVE:#333;
@const FONT_NORMAL:normal 9pt 宋体;
@const FONT_NUMBER:normal 9pt "comic sans MS";
@const OUTLINE_STYLE_NORMAL:glow gray 2px 2px;
@const OUTLINE_STYLE_ACTIVE:glow gray 4px 4px;

@font-face 
{
	font-family:mvboli;
	src: url(qabs:raw/mvboli.ttf); /* "mv boli" */
}

body#wc-top{
//	border-radius:4px;
//	-border-radius:4;
//	background-color:#76EAFF;
	background-color:#67D8ED;
}

#wc-caption{
	height:22px;
	font:bold 10pt "微软雅黑"; 
	text-align:center;
	vertical-align:middle;
	line-height:20px;
	padding:2 4px;
	margin-bottom:0;
	background-color:white;
	color:#222;
}
button[type="menu"]{
	behavior:button popup-menu; 
	foreground-image:url(stock:arrow-down);
	foreground-repeat:no-repeat;
	foreground-position-right:2px;
	foreground-position-top:center;
	background-image:none;
	
	font-size:10pt;
	padding:4 8px;
	cursor:pointer;
}
button[type="menu"]>menu{
	background-color:white;
	background-image:none;
	border:1px solid #DEDEDE;
}
button[type="menu"]>menu li{
	height:32px;
}
button[type="menu"]>menu li:last-child{
	height:32px;
	border-bottom:none;
}

.sepbar{
	flow:horizontal;
	background-color:white;
	width:*;height:46px;
	padding:0 4px;
	vertical-align:middle;
}
.sepbar>hr.vert{
	height:*;
	width:0; 
	margin:-1 2px; 
	border-left: 1px solid #DEDEDE; 
}
.sepbar-title{
	color:#555;
	font:bold 10pt "微软雅黑";
}
.hsep{
	background-image:url($:|images/hsep.png);
	background-repeat:repeat-x;
	background-position:0 0;
}


div.nav-btn{
	width:120px;height:30px;
	flow:horizontal;
	margin:2px *;
}
div.nav-btn>div{
	border:@BORDER;
	background-color:#FFFFFA #FFFFFA #F2F4F3 #F2F4F3;
	height:*;
	text-align:center;
	vertical-align:middle;
	font:10pt bold Arial;
}
div.nav-btn>div.prev{
	width:35px;
	border-right:none;
	border-radius:15 0 0 15px;
	behavior:clickable;
}
div.nav-btn>div.next{
	border-left:none;
	width:35px;
	border-radius:0 15 15 0px;
	behavior:clickable;
}
div.nav-btn>div.bar{
	width:*;
}
div.nav-btn>div:active{
	background-color:#EA5141;
	color:white;
}

.num_quoter{
	width:30px;height:20px;
	overflow:hidden;
	color:#CE3541;
	font:bold 9pt "comic sans MS";
	background-image:url(qrel:images/quote_32.png);
	background-repeat:stretch;
	background-position:center;
	text-align:center;
	padding-bottom:8px;
	vertical-align:middle;
}

widget[type="vscrollbar"],
input[type="vscrollbar"]
{
  width:6px;
}

/*************************/
/*一个适合显示控件的table*/
table.table_box{
	background-color:#AFD4E5;
	padding:4px;
	margin:4 10px;
	width:*;
	border-spacing:0;
	opacity:0.95;
}
table.table_box>th{
	text-align:left;
	color:white;
	font:11pt bold "微软雅黑";
	height:26px;
	line-height:26px;
}
table.table_box>tr.box{
	height:*;width:*;
	background-color:white;
	padding:4 10px;
	line-height:24px;
}

#body_wrap{
	width:*;height:*;
	background-color:white;
	margin:5px;
	opacity:0.9;
	border-spacing:5px;
	padding:5px;
}

#body_wrap>table.table_box{
	margin:0;
}

table.table_box>tr>td{
	padding:5 10px;
}

